df-dev-azure-data-engineer/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-dev-azure-data-engineer"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_ecdc_hospital_daily_adls_gen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "covid19/sink"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "ecdc/hospital/daily",
						"fileSystem": "processed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_ecdc_hospital_weekly_adls_gen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "covid19/sink"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "ecdc/hospital/weekly",
						"fileSystem": "processed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_population_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"population_folder": {
						"type": "string",
						"defaultValue": "population"
					},
					"population_raw_file": {
						"type": "string",
						"defaultValue": "population_by_age.tsv"
					}
				},
				"folder": {
					"name": "covid19/sink"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().population_raw_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().population_folder",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_adls_gen2_incremental_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "increamental_testing"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "increamental_load_control.json",
						"folderPath": "utility",
						"fileSystem": "incremental-load"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"sourceSchemaName": {
							"type": "string"
						},
						"targetSchemaName": {
							"type": "string"
						},
						"tableName": {
							"type": "string"
						},
						"processName": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_dummy_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "covid19/source"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "dummy_json.json",
						"folderPath": "dummy_file",
						"container": "utility"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_ecdc_cases_and_deaths_adls_gen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "covid19/source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_fileName",
							"type": "Expression"
						},
						"folderPath": "ecdc/cases_deaths",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "continent",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "indicator",
						"type": "String"
					},
					{
						"name": "daily_count",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "rate_14_day",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_ecdc_country_lookup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "covid19/source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "country_lookup.csv",
						"folderPath": "country_dim",
						"container": "utility"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code_2_digit",
						"type": "String"
					},
					{
						"name": "country_code_3_digit",
						"type": "String"
					},
					{
						"name": "continent",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_ecdc_date_lookup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "covid19/source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "dim_date.csv",
						"folderPath": "date_dim",
						"container": "utility"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date_key",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "day_name",
						"type": "String"
					},
					{
						"name": "day_of_year",
						"type": "String"
					},
					{
						"name": "week_of_month",
						"type": "String"
					},
					{
						"name": "week_of_year",
						"type": "String"
					},
					{
						"name": "month_name",
						"type": "String"
					},
					{
						"name": "year_month",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_ecdc_hospital_adls_gen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_fileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "covid19/source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_fileName",
							"type": "Expression"
						},
						"folderPath": "ecdc/hospital_admissions",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "indicator",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "value",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_ecdc_lookup_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_blob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "covid19/source"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ecdc_file_lookup.json",
						"folderPath": "ecdc_lookup",
						"container": "utility"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"cases_deaths": {
							"type": "object",
							"properties": {
								"relativeURL": {
									"type": "string"
								},
								"folderName": {
									"type": "string"
								},
								"fileName": {
									"type": "string"
								}
							}
						},
						"hospital_admissions": {
							"type": "object",
							"properties": {
								"relativeURL": {
									"type": "string"
								},
								"folderName": {
									"type": "string"
								},
								"fileName": {
									"type": "string"
								}
							}
						},
						"country_response": {
							"type": "object",
							"properties": {
								"relativeURL": {
									"type": "string"
								},
								"folderName": {
									"type": "string"
								},
								"fileName": {
									"type": "string"
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_hive_processed_testing_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_adls_gen2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "covid19/source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "000000_0",
						"folderPath": "ecdc/testing_processed_from_hive",
						"fileSystem": "processed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_population_zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_data_engineer_blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"population_raw_filename": {
						"type": "string",
						"defaultValue": "population_by_age.tsv.gz"
					}
				},
				"folder": {
					"name": "covid19/source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().population_raw_filename",
							"type": "Expression"
						},
						"container": "population"
					},
					"columnDelimiter": "\t",
					"compressionCodec": "gzip",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_incremental_load_metadata_driven')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup incremental JSON file",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_source_adls_gen2_incremental_json",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "for each item in JSON",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup incremental JSON file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup incremental JSON file').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 2,
							"activities": [
								{
									"name": "lookup max load ts for process",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select \ncoalesce(max(last_load_ts), cast('1800-01-01 00:00:00' as datetime2)) as last_load_ts \nfrom\ntarget_schema.auditlog\nwhere processname = '@{item().processName}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_sql_database_dynamic_source",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "copy data from source to target sql database",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "lookup max load ts for process",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n    'select * from '\n    , item().sourceSchemaName\n    , '.'\n    , item().tableName\n    , ' where load_ts > cast(''', activity('lookup max load ts for process').output.firstRow.last_load_ts, ''' as datetime2)' \n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@concat(\n    'insert into target_schema.auditlog (processname, last_load_ts) values (''', item().processName, ''', (select max(load_ts) from ', item().sourceSchemaName, '.', item().tableName, '))'\n)",
												"type": "Expression"
											},
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": {
													"value": "@createArray('id')",
													"type": "Expression"
												}
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_sql_database_dynamic_source",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sql_database_dynamic_target",
											"type": "DatasetReference",
											"parameters": {
												"p_schemaName": {
													"value": "@item().targetSchemaName",
													"type": "Expression"
												},
												"p_tableName": {
													"value": "@item().tableName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "increamental_testing"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T18:22:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_adls_gen2_incremental_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_ecdc_data_http_to_adls_gen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup ecdc file",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_source_ecdc_lookup_file",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "for each ecdc file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup ecdc file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup ecdc file').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "set variable fileName",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_fileName",
										"value": {
											"value": "@item().fileName",
											"type": "Expression"
										}
									}
								},
								{
									"name": "get metadata of ecdc files",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "copy ecdc files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_sink_ecdc_files_adls_gen2",
											"type": "DatasetReference",
											"parameters": {
												"p_folderName": {
													"value": "@item().folderName",
													"type": "Expression"
												},
												"p_fileName": {
													"value": "@item().fileName",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"columnCount",
											"size"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "set variable relativeURL",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_relativeURL",
										"value": {
											"value": "@item().relativeURL",
											"type": "Expression"
										}
									}
								},
								{
									"name": "set variable folderName",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_folderName",
										"value": {
											"value": "@item().folderName",
											"type": "Expression"
										}
									}
								},
								{
									"name": "copy ecdc files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "set variable fileName",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "set variable relativeURL",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "set variable folderName",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_source_ecdc_files_http",
											"type": "DatasetReference",
											"parameters": {
												"p_relativeURL": {
													"value": "@variables('v_relativeURL')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sink_ecdc_files_adls_gen2",
											"type": "DatasetReference",
											"parameters": {
												"p_folderName": {
													"value": "@variables('v_folderName')",
													"type": "Expression"
												},
												"p_fileName": {
													"value": "@item().fileName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "load audit status of ecdc files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "get metadata of ecdc files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@concat(\n    'insert into covid19.raw_audit_log (file_name, relative_URL, file_size, column_count, status) values ('''\n    , variables('v_fileName')\n    , ''', '''\n    , variables('v_relativeURL')\n    , ''', '\n    , string(activity('get metadata of ecdc files').output.size)\n    , ', '\n    , string(activity('get metadata of ecdc files').output.columnCount)\n    , ', ''Processed'')'\n)",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_source_dummy_json",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sink_raw_audit_log",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"v_relativeURL": {
						"type": "String"
					},
					"v_folderName": {
						"type": "String"
					},
					"v_fileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "covid19/ingestion"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T10:31:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_ecdc_lookup_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_source_dummy_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_population_file')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "metadata of population file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_source_population_zip",
								"type": "DatasetReference",
								"parameters": {
									"population_raw_filename": "population_by_age.tsv.gz"
								}
							},
							"fieldList": [
								"exists",
								"columnCount",
								"size",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "coditional check for population data",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "metadata of population file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(\n    and(activity('metadata of population file').output.exists, equals(activity('metadata of population file').output.columnCount, 13)),\n    greater(activity('metadata of population file').output.size, 0)\n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "fail process",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Population Zip File Not Available or Metadata Incorrect",
										"errorCode": "-99999"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "wait for 20 secs",
									"description": "Wait for 20 seconds to allow the file to be placed properly",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 20
									}
								}
							]
						}
					},
					{
						"name": "lookup raw audit log",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "coditional check for population data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT COUNT(*) AS RECORD_COUNT FROM [covid19].[raw_audit_log]WHERE file_name = '@{activity('metadata of population file').output.itemName}'",
									"type": "Expression"
								},
								"queryTimeout": "00:10:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sink_raw_audit_log",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "check file processing status",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "lookup raw audit log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('lookup raw audit log').output.firstRow.RECORD_COUNT, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "fail file already processed",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Population File already Processed",
										"errorCode": "-99999"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "copy population file",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_source_population_zip",
											"type": "DatasetReference",
											"parameters": {
												"population_raw_filename": "population_by_age.tsv.gz"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sink_population_raw",
											"type": "DatasetReference",
											"parameters": {
												"population_folder": "population",
												"population_raw_file": "population_by_age.tsv"
											}
										}
									]
								},
								{
									"name": "delete source file",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "stored procedure sp_insertRawAuditLog",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_source_population_zip",
											"type": "DatasetReference",
											"parameters": {
												"population_raw_filename": "population_by_age.tsv.gz"
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_sa_data_engineer_blob",
												"type": "LinkedServiceReference"
											},
											"path": "logs/population_deleted_files"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "stored procedure sp_insertRawAuditLog",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "copy population file",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[covid19].[sp_insertRawAuditLog]",
										"storedProcedureParameters": {
											"column_count": {
												"value": {
													"value": "@activity('metadata of population file').output.columnCount",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"file_name": {
												"value": {
													"value": "@activity('metadata of population file').output.itemName",
													"type": "Expression"
												},
												"type": "String"
											},
											"file_size": {
												"value": {
													"value": "@activity('metadata of population file').output.size",
													"type": "Expression"
												},
												"type": "Int64"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sql_database_dev_covid19",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "covid19/ingestion"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T10:31:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_population_zip')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_population_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_cases_and_deaths')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy cases and deaths data in azure sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"country",
										"country_code_2_digit",
										"country_code_3_digit",
										"reported_date"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "country_code_2_digit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code_2_digit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "country_code_3_digit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code_3_digit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "cases_count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cases_count",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "deaths_count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "deaths_count",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "reported_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "reported_date",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sink_ecdc_cases_and_deaths_adls_gen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_sql_cases_and_deaths",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "covid19/sql load"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T10:31:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_hive_processed_testing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy hive processed testing into sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table covid19.testing",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "country_code_2_digit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "country_code_3_digit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "week_start_date",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "week_end_date",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "new_cases",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "tests_done",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "population",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_hive_processed_testing_file",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_sql_testing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "covid19/sql load"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T10:31:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_hive_processed_testing_file')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_hospital_admissions_daily')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy hospital admissions daily data into sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table covid19.hospital_admissions_daily",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "country_code_2_digit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code_2_digit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "country_code_3_digit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code_3_digit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "reported_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "reported_date",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "hospital_occupancy_count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hospital_occupancy_count",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "icu_occupancy_count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "icu_occupancy_count",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sink_ecdc_hospital_daily_adls_gen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_sql_hospital_admissions_daily",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "covid19/sql load"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T10:31:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sink_ecdc_hospital_daily_adls_gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_transform_ecdc_case_deaths')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "covid19"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_source_ecdc_cases_and_deaths_adls_gen2",
								"type": "DatasetReference"
							},
							"name": "ecdcCasesAndDeaths"
						},
						{
							"dataset": {
								"referenceName": "ds_source_ecdc_country_lookup",
								"type": "DatasetReference"
							},
							"name": "sourceLookupCountryCode"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sink_ecdc_cases_and_deaths_adls_gen2",
								"type": "DatasetReference"
							},
							"name": "sinkCasesAndDeaths"
						}
					],
					"transformations": [
						{
							"name": "filterEuropeData"
						},
						{
							"name": "lookupCountryCode"
						},
						{
							"name": "selectRequiredColumns"
						},
						{
							"name": "derivingColumnsForCaseDeaths"
						},
						{
							"name": "pivotCaseAndDeathsCount"
						},
						{
							"name": "selecrRenamingfields"
						}
					],
					"scriptLines": [
						"source(output(",
						"          country as string,",
						"          country_code as string,",
						"          continent as string,",
						"          population as string,",
						"          indicator as string,",
						"          daily_count as string,",
						"          date as string,",
						"          rate_14_day as string,",
						"          source as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> ecdcCasesAndDeaths",
						"source(output(",
						"          country as string,",
						"          country_code_2_digit as string,",
						"          country_code_3_digit as string,",
						"          continent as string,",
						"          population as long",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourceLookupCountryCode",
						"ecdcCasesAndDeaths filter(equalsIgnoreCase(continent, 'Europe')) ~> filterEuropeData",
						"filterEuropeData, sourceLookupCountryCode lookup(ecdcCasesAndDeaths@country == sourceLookupCountryCode@country",
						"     && ecdcCasesAndDeaths@continent == sourceLookupCountryCode@continent,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> lookupCountryCode",
						"derivingColumnsForCaseDeaths select(mapColumn(",
						"          country = ecdcCasesAndDeaths@country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population = sourceLookupCountryCode@population,",
						"          indicator,",
						"          daily_count,",
						"          reported_date,",
						"          source",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectRequiredColumns",
						"lookupCountryCode derive(daily_count = toLong(daily_count),",
						"          reported_date = toDate(date, 'yyyy-MM-dd')) ~> derivingColumnsForCaseDeaths",
						"selectRequiredColumns pivot(groupBy(country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population,",
						"          reported_date,",
						"          source),",
						"     pivotBy(indicator, ['confirmed cases', 'deaths']),",
						"     count = sum(daily_count),",
						"     columnNaming: '$V_$N',",
						"     lateral: false) ~> pivotCaseAndDeathsCount",
						"pivotCaseAndDeathsCount select(mapColumn(",
						"          country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population,",
						"          cases_count = {confirmed cases_count},",
						"          deaths_count,",
						"          reported_date,",
						"          source",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selecrRenamingfields",
						"selecrRenamingfields sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     dateFormat:'yyyy-MM-dd',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1) ~> sinkCasesAndDeaths"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_ecdc_cases_and_deaths_adls_gen2')]",
				"[concat(variables('factoryId'), '/datasets/ds_source_ecdc_country_lookup')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_transform_ecdc_hospital_admission')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "covid19"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_source_ecdc_hospital_adls_gen2",
								"type": "DatasetReference"
							},
							"name": "sourceHospitalAdmission"
						},
						{
							"dataset": {
								"referenceName": "ds_source_ecdc_country_lookup",
								"type": "DatasetReference"
							},
							"name": "sourceCountryLookupFile"
						},
						{
							"dataset": {
								"referenceName": "ds_source_ecdc_date_lookup",
								"type": "DatasetReference"
							},
							"name": "sourceDateLookup"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sink_ecdc_hospital_daily_adls_gen2",
								"type": "DatasetReference"
							},
							"name": "sinkDailyHospital"
						},
						{
							"dataset": {
								"referenceName": "ds_sink_ecdc_hospital_weekly_adls_gen2",
								"type": "DatasetReference"
							},
							"name": "sinkWeeklyHospital"
						}
					],
					"transformations": [
						{
							"name": "joinHospitalAndCountryLookup"
						},
						{
							"name": "deriveWeekJoinKey"
						},
						{
							"name": "splitDailyWeekly"
						},
						{
							"name": "selectRequiredFields"
						},
						{
							"name": "deriveDatePopulationAndValue"
						},
						{
							"name": "selectDailyRequiredFields"
						},
						{
							"name": "pivotDailyDetails"
						},
						{
							"name": "selectRenameDailyFields"
						},
						{
							"name": "derivedNullValues"
						},
						{
							"name": "selectWeeklyRequiredFields"
						},
						{
							"name": "pivotWeeklyDetails"
						},
						{
							"name": "lookupDateDimension"
						},
						{
							"name": "aggWeekBeginEnd"
						},
						{
							"name": "selectDateRequiredFields"
						},
						{
							"name": "derivedValueColumns"
						},
						{
							"name": "selectRenameWeeklyFields"
						},
						{
							"name": "derivedWeeklyNullValues"
						}
					],
					"scriptLines": [
						"source(output(",
						"          country as string,",
						"          indicator as string,",
						"          date as string,",
						"          year_week as string,",
						"          value as string,",
						"          source as string,",
						"          url as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourceHospitalAdmission",
						"source(output(",
						"          country as string,",
						"          country_code_2_digit as string,",
						"          country_code_3_digit as string,",
						"          continent as string,",
						"          population as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourceCountryLookupFile",
						"source(output(",
						"          date_key as string,",
						"          date as string,",
						"          year as string,",
						"          month as string,",
						"          day as string,",
						"          day_name as string,",
						"          day_of_year as string,",
						"          week_of_month as string,",
						"          week_of_year as string,",
						"          month_name as string,",
						"          year_month as string,",
						"          year_week as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourceDateLookup",
						"sourceHospitalAdmission, sourceCountryLookupFile join(sourceHospitalAdmission@country == sourceCountryLookupFile@country,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'right')~> joinHospitalAndCountryLookup",
						"selectDateRequiredFields derive(year_week_key = year + '-W' + lpad(week_of_year, 2, '0'),",
						"          date = toDate(date, 'yyyy-MM-dd')) ~> deriveWeekJoinKey",
						"selectRequiredFields split(equals(substring(indicator, 1, 5), 'Daily'),",
						"     disjoint: false) ~> splitDailyWeekly@(DailyData, WeeklyData)",
						"joinHospitalAndCountryLookup select(mapColumn(",
						"          country = sourceHospitalAdmission@country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population,",
						"          date,",
						"          year_week,",
						"          indicator,",
						"          value,",
						"          source",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectRequiredFields",
						"splitDailyWeekly@DailyData derive(reported_date = toDate(date, 'yyyy-MM-dd'),",
						"          population = toLong(population),",
						"          value = toLong(value)) ~> deriveDatePopulationAndValue",
						"deriveDatePopulationAndValue select(mapColumn(",
						"          country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population,",
						"          reported_date,",
						"          indicator,",
						"          value,",
						"          source",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectDailyRequiredFields",
						"selectDailyRequiredFields pivot(groupBy(country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population,",
						"          reported_date,",
						"          source),",
						"     pivotBy(indicator, ['Daily hospital occupancy', 'Daily ICU occupancy']),",
						"     count = sum(coalesce(value, 0)),",
						"     columnNaming: '$V_$N',",
						"     lateral: false) ~> pivotDailyDetails",
						"pivotDailyDetails select(mapColumn(",
						"          country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population,",
						"          reported_date,",
						"          hospital_occupancy_count = {Daily hospital occupancy_count},",
						"          icu_occupancy_count = {Daily ICU occupancy_count},",
						"          source",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectRenameDailyFields",
						"selectRenameDailyFields derive(hospital_occupancy_count = coalesce(hospital_occupancy_count, 0),",
						"          icu_occupancy_count = coalesce(icu_occupancy_count, 0)) ~> derivedNullValues",
						"lookupDateDimension select(mapColumn(",
						"          country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population,",
						"          reported_year_week = year_week,",
						"          reported_week_start_date,",
						"          reported_week_end_date,",
						"          indicator,",
						"          value,",
						"          source",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectWeeklyRequiredFields",
						"derivedValueColumns pivot(groupBy(country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population,",
						"          reported_year_week,",
						"          source,",
						"          reported_week_start_date,",
						"          reported_week_end_date),",
						"     pivotBy(indicator, ['Weekly new hospital admissions per 100k', 'Weekly new ICU admissions per 100k']),",
						"     count = sum(value),",
						"     columnNaming: '$V_$N',",
						"     lateral: false) ~> pivotWeeklyDetails",
						"splitDailyWeekly@WeeklyData, aggWeekBeginEnd lookup(year_week == year_week_key,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> lookupDateDimension",
						"deriveWeekJoinKey aggregate(groupBy(year,",
						"          week_of_year,",
						"          year_week_key),",
						"     reported_week_start_date = min(date),",
						"          reported_week_end_date = max(date)) ~> aggWeekBeginEnd",
						"sourceDateLookup select(mapColumn(",
						"          date,",
						"          year,",
						"          week_of_year",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectDateRequiredFields",
						"selectWeeklyRequiredFields derive(value = coalesce(toDecimal(value, 17, 2), 0.00)) ~> derivedValueColumns",
						"pivotWeeklyDetails select(mapColumn(",
						"          country,",
						"          country_code_2_digit,",
						"          country_code_3_digit,",
						"          population,",
						"          reported_year_week,",
						"          reported_week_start_date,",
						"          reported_week_end_date,",
						"          hospital_occupancy_count = {Weekly new hospital admissions per 100k_count},",
						"          icu_occupancy_count = {Weekly new ICU admissions per 100k_count},",
						"          source",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectRenameWeeklyFields",
						"selectRenameWeeklyFields derive(population = toLong(population),",
						"          hospital_occupancy_count = coalesce(hospital_occupancy_count, 0.00),",
						"          icu_occupancy_count = coalesce(icu_occupancy_count, 0.00)) ~> derivedWeeklyNullValues",
						"derivedNullValues sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     dateFormat:'yyyy-MM-dd',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkDailyHospital",
						"derivedWeeklyNullValues sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0777,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     dateFormat:'yyyy-MM-dd',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkWeeklyHospital"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_ecdc_hospital_adls_gen2')]",
				"[concat(variables('factoryId'), '/datasets/ds_source_ecdc_country_lookup')]",
				"[concat(variables('factoryId'), '/datasets/ds_source_ecdc_date_lookup')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_ecdc_hospital_daily_adls_gen2')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_ecdc_hospital_weekly_adls_gen2')]"
			]
		}
	]
}