df-dev-azure-data-engineer/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-dev-azure-data-engineer"
		},
		"kv_azure_data_engineer_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-dev-azuredataengineer.vault.azure.net/"
		},
		"ls_azure_sql_database_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "database-server-ipl.database.windows.net"
		},
		"ls_azure_sql_database_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "database-ipl"
		},
		"ls_azure_sql_database_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "azure-data-engineer"
		},
		"ls_azure_adls_gen2_storage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sadevdataengineergen2.dfs.core.windows.net"
		},
		"ls_azure_blob_storage_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://sadevdataengineerblob.blob.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/kv_azure_data_engineer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('kv_azure_data_engineer_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_sql_database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_azure_sql_database_properties_typeProperties_server')]",
					"database": "[parameters('ls_azure_sql_database_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_azure_sql_database_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kv_azure_data_engineer",
							"type": "LinkedServiceReference"
						},
						"secretName": "secrets-azure-sql-database-ipl-pwd"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kv_azure_data_engineer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/credential_azure_adls_gen2_storage_spn')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ServicePrincipal",
				"typeProperties": {
					"tenant": "874c3cc9-ee86-4607-b1c7-f222ac034af3",
					"servicePrincipalId": "2cafaf14-fc65-4491-86a3-73976a36572b",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kv_azure_data_engineer",
							"type": "LinkedServiceReference"
						},
						"secretName": "secrets-spn-dev-adls-gen2-clientsecret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kv_azure_data_engineer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/credential_azure_blob_storage_spn')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ServicePrincipal",
				"typeProperties": {
					"tenant": "874c3cc9-ee86-4607-b1c7-f222ac034af3",
					"servicePrincipalId": "900e1783-e026-4009-b6b4-4624df24640f",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kv_azure_data_engineer",
							"type": "LinkedServiceReference"
						},
						"secretName": "secrets-spn-dev-blob-clientsecret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kv_azure_data_engineer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_utility_table_ipl_json_file_process_status')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_database",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ipl-project-azure-sql"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_adls_gen2_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_azure_adls_gen2_storage_properties_typeProperties_url')]",
					"credential": {
						"referenceName": "credential_azure_adls_gen2_storage_spn",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/credential_azure_adls_gen2_storage_spn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_blob_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('ls_azure_blob_storage_properties_typeProperties_serviceEndpoint')]",
					"credential": {
						"referenceName": "credential_azure_blob_storage_spn",
						"type": "CredentialReference"
					},
					"accountKind": "BlobStorage"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/credential_azure_blob_storage_spn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_gen2_json_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_adls_gen2_storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_folderName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ipl-project-adls-gen2"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().p_folderName",
							"type": "Expression"
						},
						"fileSystem": "ipl"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_adls_gen2_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_json_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_blob_storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_folderName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ipl-project-blob"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().p_folderName",
							"type": "Expression"
						},
						"container": "ipl"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_blob_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_ipl_json_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get List of JSON Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob_json_file",
								"type": "DatasetReference",
								"parameters": {
									"p_folderName": {
										"value": "@pipeline().parameters.pp_blob_json_folderName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "For Each JSON File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get List of JSON Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get List of JSON Files').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 2,
							"activities": [
								{
									"name": "Lookup JSON File Status",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@{concat(\n'select count(*) as record_count from \n[utility].[ipl_json_file_process_status]\nwhere\n[json_filename] ='''\n, item().name\n, ''''\n)}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_sql_utility_table_ipl_json_file_process_status",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "If JSON File is not processed",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Lookup JSON File Status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('Lookup JSON File Status').output.firstRow.record_count, 0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy JSON Files from Blob to ADLS Gen2",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Stored Procedure Pre-Copy JSON",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": false,
															"wildcardFolderPath": {
																"value": "@pipeline().parameters.pp_blob_json_folderName",
																"type": "Expression"
															},
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "ds_blob_json_file",
														"type": "DatasetReference",
														"parameters": {
															"p_folderName": {
																"value": "@pipeline().parameters.pp_blob_json_folderName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_gen2_json_file",
														"type": "DatasetReference",
														"parameters": {
															"p_folderName": {
																"value": "@pipeline().parameters.pp_adls_gen2_json_folderName",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Stored Procedure Pre-Copy JSON",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[utility].[sp_log_json_file_process_status]",
													"storedProcedureParameters": {
														"json_file": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														},
														"process_type": {
															"value": {
																"value": "@pipeline().parameters.pp_sp_process_status_start",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azure_sql_database",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Stored Procedure Post-Copy JSON",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy JSON Files from Blob to ADLS Gen2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[utility].[sp_log_json_file_process_status]",
													"storedProcedureParameters": {
														"json_file": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														},
														"process_type": {
															"value": {
																"value": "@pipeline().parameters.pp_sp_process_status_end",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_azure_sql_database",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pp_blob_json_folderName": {
						"type": "string",
						"defaultValue": "ipl-json-dumps"
					},
					"pp_adls_gen2_json_folderName": {
						"type": "string",
						"defaultValue": "raw_json"
					},
					"pp_sp_process_status_start": {
						"type": "string",
						"defaultValue": "start"
					},
					"pp_sp_process_status_end": {
						"type": "string",
						"defaultValue": "end"
					},
					"pp_adls_gen2_utility_folderName": {
						"type": "string",
						"defaultValue": "utility"
					}
				},
				"folder": {
					"name": "ipl-project/copy_json"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob_json_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_utility_table_ipl_json_file_process_status')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_gen2_json_file')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_database')]"
			]
		}
	]
}