df-dev-azure-data-engineer/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-dev-azure-data-engineer"
		},
		"trg_ingest_population_file_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/6315a390-3fa3-4426-b827-96a5426f1b57/resourceGroups/rg-dev-azure-data-engineer/providers/Microsoft.Storage/storageAccounts/sadevdataengineerblob"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_orchestrate_population')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipeline population ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingest_population_file",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipeline population transform",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipeline population ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transform_ecdc_population",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "covid19/execute"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T10:31:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transform_ecdc_case_deaths_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "data flow ecdc cases and deaths",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "delete target files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_transform_ecdc_case_deaths",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ecdcCasesAndDeaths": {
										"p_fileName": {
											"value": "@pipeline().parameters.p_fileName",
											"type": "Expression"
										}
									},
									"sourceLookupCountryCode": {},
									"sinkCasesAndDeaths": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "delete target files",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sink_ecdc_cases_and_deaths_adls_gen2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_fileName": {
						"type": "string",
						"defaultValue": "cases_deaths.csv"
					}
				},
				"folder": {
					"name": "covid19/transform"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T10:31:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transform_ecdc_hospital_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "delete weekly folder",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sink_ecdc_hospital_weekly_adls_gen2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "delete daily folder",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_sink_ecdc_hospital_daily_adls_gen2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "data flow transform hospital data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "delete weekly folder",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "delete daily folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_transform_ecdc_hospital_admission",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourceHospitalAdmission": {
										"p_fileName": "hospital_admissions.csv"
									},
									"sourceCountryLookupFile": {},
									"sourceDateLookup": {},
									"sinkDailyHospital": {},
									"sinkWeeklyHospital": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "covid19/transform"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T10:31:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_orchestrate_ecdc_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipeline ingest ecdc data from http",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingest_ecdc_data_http_to_adls_gen2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipeline transform cases and deaths",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipeline ingest ecdc data from http",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transform_ecdc_case_deaths_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_fileName": "cases_deaths.csv"
							}
						}
					},
					{
						"name": "pipeline transform hospital admissions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipeline ingest ecdc data from http",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transform_ecdc_hospital_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipeline transform non hive testing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipeline ingest ecdc data from http",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transform_ecdc_testing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipeline load sql cases and deaths",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipeline transform cases and deaths",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_load_cases_and_deaths",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipeline load sql hospital admissions daily",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipeline transform hospital admissions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_load_hospital_admissions_daily",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "covid19/execute"
				},
				"annotations": [],
				"lastPublishTime": "2026-05-25T10:31:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_transform_ecdc_case_deaths_data')]",
				"[concat(variables('factoryId'), '/pipelines/pl_transform_ecdc_hospital_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_ingest_population_file')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_orchestrate_population",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/population/blobs/population_by_age",
					"blobPathEndsWith": ".gz",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trg_ingest_population_file_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_orchestrate_population')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_ingest_ecdc_data')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_orchestrate_ecdc_data",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2026-05-25T13:21:00",
						"endTime": "2026-05-26T13:20:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_orchestrate_ecdc_data')]"
			]
		}
	]
}